<!DOCTYPE html>
<html>
<head>
    <title>Firm Login</title>
</head>
<body>

    {% if messages %}
    <ul>
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <li style="color: red;">{{ message }}</li>
        {% else %}
          <li style="color: green;">{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  

<h2>Firm Login</h2>
<form method="post">
    {% csrf_token %}
    Email: <input type="email" name="email"><br>
    Password: <input type="password" name="password"><br>
    <button type="submit">Login</button>
</form>

</body>
</html>
